* {
  box-sizing: border-box;
}

main {
  margin: 20px auto;
  width: 100%;
  max-width: 1200px;
}

canvas {
  display: block;
  margin: 20px 0 0;
  border: 1px solid #999;
}

#currentColor {
  height: 30px;
  background-color: #000;
}

.palette {
  display: flex;
  justify-content: flex-start;
}

.palette span {
  display: block;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

[data-color='#000'] {
  background: #000;
}
[data-color='#cb1b45'] {
  background: #cb1b45;
}
[data-color='#005caf'] {
  background: #005caf;
}
[data-color='#efbb24'] {
  background: #efbb24;
}
[data-color='#24936e'] {
  background: #24936e;
}
[data-color='#6a4c9c'] {
  background: #6a4c9c;
}

.controller {
  margin: 0 0 20px;
  display: flex;
  justify-content: space-between;
}

.misc {
  display: flex;
  justify-content: flex-end;
}

#save,
.clear {
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

#save {
  background: #1b813e;
}

.clear {
  background: #cb1b45;
}

.login {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.login.show {
  display: block;
}

.login form {
  position: elative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  max-width: 300px;
  text-align: center;
}

.chat-box {
  width: 100%;
}

.messages {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300%;
}

.message {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  max-width: 33%;
  font-size: 28px;
  animation-name: fly-to-left;
  animation-duration: 25s;
  animation-timing-function: linear;
}

.message .nyan {
  width: 200px;
  transform: scaleX(-1);
}

@keyframes fly-to-left {
  from {
    left: 67%;
  }
  to {
    left: 0;
  }
}

.side-images {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  width: 80vw;
  padding: 20px;
  left: 100vw;
  transition: left 0.5s;
}

.side-images.show {
  left: 20vw;
}

.side-images-content {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.save-image-template {
  background: #fff;
  margin-bottom: 20px;
}

.save-image-template img {
  width: 100%;
}

.hidden {
  display: none;
}

.toggle-side {
  position: absolute;
  right: 100%;
  top: 50%;
  background: #555;
  color: #eee;
  height: 50px;
  width: 20px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 10px 0 0 10px;
}

.toggle-side:hover {
  color: #fff;
  background: #999;
}

.hide-side {
  display: none;
}
