* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
}

main {
  margin: 40px auto;
  width: 100%;
  max-width: 1200px;
}

canvas {
  display: block;
  margin: 20px 0 0;
  border: 1px solid #999;
}

#currentColor {
  height: 30px;
  background-color: #000;
}

.palette {
  display: flex;
  justify-content: flex-start;
}

.palette span {
  display: block;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

[data-color='#000'] { background: #000; }
[data-color='#cb1b45'] { background: #cb1b45; }
[data-color='#005caf'] { background: #005caf; }
[data-color='#efbb24'] { background: #efbb24; }
[data-color='#24936e'] { background: #24936e; }
[data-color='#6a4c9c'] { background: #6a4c9c; }

.controller {
  text-align: right;
}

.controller span {
  display: inline-block;
  padding: 10px 20px;
  background: #cb1b45;
  color: white;
  cursor: pointer;
}
